body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

li {
    list-style-type: none;
    display: inline;
    background: black;
    margin-right: -6px;/*убираем отступы между элементами списка*/
    padding: 10px;
}

ul {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;   
}

a{
    text-decoration: none;
    color: white; 
}

li:hover{
    background: #0a99d1;
    transition: .5s;
}

a:visited{
    text-decoration: none;
    color: white; 
}

#topbutton {
    width:50px;
    height: 50px;
    background: url("../images/top.jpg") no-repeat;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:25px;
    right:25px;
    cursor:pointer;
    font-size:12px;
    border-radius: 5px;
}

h1, h2{
    text-align: center;
}

