body{
    margin: 0;
    padding:0;
    background: gainsboro;
    font-family:'Arial', cursive;
}

.wrapper{
    min-width: 1024px;
    max-width: 1920px;    
}


.wrapperForm{
    height: 520px;
    width: 450px;
    background: white;
    margin: 20px auto;
    padding: 20px 0 20px 20px;
    border-bottom: 2px black solid;   
}

p{
    margin: 0;
    padding: 0;
}

input{
    background-color: white;
    cursor: text;
    border: 1px solid rgb(221,221,221);
}

.buttonUp ,.buttonDown{
    width: 10px;
    height: 6px;
    cursor: pointer;
    display: flex;
    margin-left: 90%;
    padding: 0;
}

.buttonUp{
    margin-top: 5px; 
    background: url('../images/ArrowUp.png') no-repeat;
}

.buttonDown{   
    background: url('../images/ArrowDown.png') no-repeat;
}

.boldP{
    font-weight: bold;
    margin-right: 5px;
    font-size: 18px;
}

.graySpan{
    background: lightgray;
    padding: 3px;
    font-weight:600; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.actionInput{
    width: 443px;
    height: 25px;
    border-right:none;
    font-size: 16px;
    padding-left: 5px;
}

.margins{
    margin-bottom: 30px;
}

.choiceInput{
    border: 1px solid rgb(221,221,221);
    border-radius: 5px;
    height: 25px;
    width: 120px;
    font-size: 16px;
    padding-left: 5px;
}

.smallMarg{
    margin-bottom: 5px;
}

.subUnsubInput{
    width: 350px;
}

img{
    width: 15px;
    height: 15px;
}

button{
    background: inherit;
    border: 0;
    font-family: 'Tahoma';
    cursor: pointer;
}

.spanRadio{
    display: inline-block;
    border: 1px solid rgb(221,221,221);
    width: 360px;
    padding: 3px;
    font-size: 16px;
    margin: 5px 0;
}

.wrapperChoice{
    border: 1px solid rgb(221,221,221);
    border-right: none;
}

.wrapperUnderChoice{
    width: 97%;
    border-right: 1px solid rgb(221,221,221);
    padding: 5px 0 5px;
    box-shadow: 11px 0 0 0 rgb(249,249,249); 
}

.buttonAdd{
    background: rgb(0,133,186);
    color: white;
    border-radius:3px;
    border: 1px black solid;
    border-top: none; 
    width: 120px;
    height: 35px;
    font-size: 16px; 
}

.radio{
    margin: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.checkbox,
.radio {
	display: none;
}
.checkbox-custom,
.radio-custom {
	width: 15px;
	height: 15px;
	border: 1px solid rgb(215,218,220);
	border-radius: 3px;
	position: relative;
}
.checkbox-custom,
.radio-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	background: rgb(24,137,190);
	border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
	border-radius: 50%;
}

.radio-custom{
    margin-left: 5px;
}




input[type="checkbox"] {
    line-height: 2.1ex;
 }

 input[type="checkbox"] {
     position: absolute;
     left: -999em;
 }
 
 input[type="checkbox"] + label {
     position: relative;
     overflow: hidden;
     cursor: pointer;
 }

 input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: white;
    border: 1px solid rgb(215,218,220);
    margin-right: 0.5em;
 }
 
 input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: rgba(0, 0, 0, 0);
    top: 5px;
    left: 3px;
    border: 3px solid rgb(24,137,190);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
 }

 .resetPict{
     background: url("../images/x.png") no-repeat;
     background-position: 4px;
     height: 10px;
     width: 10px;
 }