.social__content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-page__large{
    width: 100%;
    height: 400px;
}

.footer-page_background{
    color: white;
}

.footer-page__position{
    position: relative;
}

.social-container__header{
    color: rgb(199,199,199);
}

.social-container__link{
    cursor: pointer;
    color: orange;
    text-decoration: none;
}

.social-container__position{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.social__link{
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

.fab_styles{
    font-size: 1.3rem;
    color: black;
}